@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h2 class="p-3">Opened Tenders</h2>
</div>
<div id="homeTable"></div>

@section Scripts{
    <script src="~/Scripts/home.js"></script>
}