@*@model IEnumerable<BusinessLogic.DataTransferObjects.BidFinishDTO>*@

@{
    ViewBag.Title = "MyData";
}


<h2>MyData</h2>

@*@foreach (var item in Model)
{
    <div>@item.Id</div>
}*@

@section Scripts{
    <script src="~/Scripts/myData.js"></script>
}